# Compiled files
*.tfstate
*.tfstate.*
*.tfstate.backup
*.tfstate.lock.info

# Module directory
.terraform
.terraform/
.terraform/*
**/.terraform/*

# Terraform CLI Configuration
.terraformrc

# Terraform Variables
*.tfvars

# License json files
license*.json
dopr_vaultdemo_content/demofiles/license*.json
licensepayload.json
dopr_vaultdemo_content/demofiles/licensepayload.json

# SSH Keys
*.pem

# Certs
#certs/
#dopr/dopr_vaultdemo_content/certs/*.pem
#dopr/dopr_vaultdemo_content/certs/*.crt
*.pem
*.crt

# Draft files
*.draft
*.pyld
*.sh

# MacOSX
.DS_Store
.vscode
dopr/.vscode/
dopr/.DS_Store
dopr/dopr_vaultdemo_content/.DS_Store
